/*  UNIVERSAL STYLES  */

html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, sans-serif;

}

.container {
  border: 2px red solid; /* delete */
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  /* TABLET */
  .container {
    max-width: 100%;
  }
}

.logo {
  border: 2px solid blue; /* delete */
  display: flex;
  align-items: center;

}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}






/*  HEADER AND SITE NAV  */

.background {
  background-image: url(../../resources/images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.company {
  border: 2px blue solid; /* delete */
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: white;

}

nav span {
  padding-left: 2rem;
}

@media only screen and (max-width: 1024px){

  /* .background {
    width: 100%;
  } */

  .company {
    clear: both;
    width: 100%;
    margin: 0 auto;
  }

  nav span {
    padding-right: 2rem;
  }
}



/*  SLOGAN  */

.slogan {
  border: 2px solid blue; /* delete */
  float: right;
  position: relative;
  left: 2rem;
}

.slogan h1 {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}





/*  BUSINESS SERVICES  */

.services {
  border: 2px solid limegreen; /* delete temp */
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  clear: both; /* doesn't break when not selected-maybe delete */
}

.icon-box {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.paper {
  margin-left: 0;
}

.icon-paper img {
  width: 3.5rem;
}

.icon img {
  width: 5rem;
}

.icon-box span {
  border: 2px solid blue; /* delete temp */
  max-width: 5rem;
  text-align: center;
}

.icon-box.paper span {
  max-width: 7rem;
}





/*  BUSINESS INFO COLUMNS  */

.column {
  border: 2px solid hotpink;
  width: 35%;
  position: relative;
  margin-bottom: 5rem;
}

.column:nth-of-type(1) {
  float: left;

}

.column:nth-of-type(2) {
  float: right;
  margin-right: 25%;
}

.column h3 {
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
}





/*  FOOTER  */

footer {
  clear: both;
  background-color: azure;
  padding: 4rem;
}
