/*  UNIVERSAL STYLES  */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  /* TABLET */
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  .logo h4 {
    display: none;
  }
}





/*  BACKGROUND, HEADER, AND SITE NAV  */

.background {
  background-image: url(../../resources/images/glasses-bg.png);
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.company {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  padding: 1rem 2rem;
  color: white;
}

.site-nav {
  padding-left: 2rem;
}

.site-nav__menu {
  display: none;
}

@media only screen and (max-width: 1024px){
  /* TABLET */
  .company {
    margin: 0;
    top: 0;
  }

  .background {
    height: 22rem;
  }
}

@media only screen and (max-width: 768px) {
  /* TABLET PORTRAIT */
  .background {
    background-position: 30%;
  }
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  .background {
    height: 17rem;
    background-position: 20%;
  }

  .site-nav {
    display: none;
  }

  .site-nav__menu {
    display: block;
  }
}



/*  SLOGAN  */

.slogan {
  float: right;
  position: relative;
  left: 2rem;
}

.slogan h1 {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  /* TABLET */
  .slogan {
    position: static;
  }

  .slogan h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    line-height: 2.5;
    margin: 5rem 2rem 0 0;
  }
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  .slogan {
    width: 100%;
  }

  .slogan h1 {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    margin: 9rem auto 0;
  }
}





/*  BUSINESS SERVICES  */

.services {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.icon-box {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.portrait {
  margin-left: 0;
}

.portrait>.icon img {
  width: 3.5rem;
}

.icon img {
  width: 5rem;
}

.icon-box span {
  max-width: 5rem;
  text-align: center;
  line-height: 1.4;
}

.portrait span {
  max-width: 7rem;
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  .services {
    display: block;
    margin: 0;
    margin: 3.77rem 0;
  }

  .icon-box {
    justify-content: flex-start;
    margin: 0 auto;
    height: auto;
  }

  .icon-box span {
    font-size: 0.77rem;
  }

  .portrait span {
    max-width: 6rem;
  }

  .landscape .icon {
    margin: 1.54rem 0 0.75rem 0;
  }

  .portrait .icon {
    height: 5.25rem;
  }
}





/*  BUSINESS INFO COLUMNS  */

.columns {
  display: flex;
  justify-content: center;
}

.column {
  width: 35%;
}

.column:nth-of-type(1) {
  margin-right: 5%;
}

.column h3 {
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  .columns {
    display: block;
  }

  .column {
    width: 100%;
  }

  .column h3 {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .column p {
    font-size: 0.77rem;
    padding: 0 0.5rem;
    margin-bottom: 4rem;
  }
}





/*  FOOTER  */

footer {
  clear: both;
  background-color: azure;
  padding: 4rem;
  position: relative;
  top: 5rem;
}

@media only screen and (max-width: 470px) {
  /* PHONE */
  footer {
    top: 0;
  }

  footer .logo {
    justify-content: center;
  }
}
